@media screen and (max-width: 480px) {
    .lorem-ipsum {
        display: block;
        flex-direction: column;
        gap: 20px;
        list-style: none;
        padding-bottom: 30px;
        padding-top: 30px;

        &__icons {
            text-align: center;
            background-color: $bg-iconColor;
            height: 120px;
            padding: 30px 15px;
            margin-right: 15px;
            margin-left: 15px;
        }
        &__name {
            font-weight: 700;
            font-size: $fontSizeSmall;
            line-height: 1.1;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            padding-top: 30px;
            padding-bottom: 10px;
            text-align: center;
        }
        &__description {
            font-size: $fontSizeSmall;
            line-height: 1.7;
            letter-spacing: 0.03em;
            color: $contactColor;
            text-align: left;
            height: 50px;
            padding-bottom: 94px;
            padding-right: 15px;
            padding-left: 15px;
            max-width: 480px;
        }
    }
}
@media screen and (min-width: 768px) {
    .lorem-ipsum {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        gap: 30px;
        margin-top: 60px;
        justify-content: center;
        padding-bottom: 30px;

        &__icons {
            text-align: center;
            background-color: $bg-iconColor;
            height: 120px;
            padding: 25px 100px;
            width: 354px;
        }
        &__name {
            font-weight: 700;
            font-size: $fontSizeSmall;
            line-height: 1.1;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            padding-top: 30px;
            padding-bottom: 10px;
        }
        &__description {
            font-size: $fontSizeSmall;
            line-height: 1.7;
            letter-spacing: 0.03em;
            color: $contactColor;
            text-align: left;
            width: 354px;
            height: 75px;
        }
    }
}
@media screen and (min-width: 1200px) {
    .lorem-ipsum {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;

        &__icons {
            text-align: center;
            background-color: $bg-iconColor;
            width: 270px;
        }
        &__name {
            padding-bottom: 10px;
        }
        &__description {
            height: 75px;
            padding-bottom: 94px;
            width: 270px;
        }
    }
}
