.title {
    display: flex;
    height: 400px;
    flex-direction: column;
    color: $titleColor;
    text-align: center;
    justify-content: center;
    font-size: 26px;
    font-family: $fontFamilyGlobal;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 1.56px;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    );

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    background-image: url("../images/responsive-background/mobile-background-1x.png");
    background-size: cover;

    &__name {
        display: inline-block;
    }

    &__button {
        color: $titleColor;
        cursor: pointer;
        background-color: $accentColor;
        font-weight: 700;
        font-size: $fontSizeMedium;
        width: 200px;
        height: 50px;
        margin-top: 30px;
    }
}

@media screen and (min-width: 768px) {
    .title {
        background-image: url("../images/responsive-background/tablet-background-2x.png");
    }

    .main__button {
        color: $titleColor;
        cursor: pointer;
        background-color: $accentColor;
        font-weight: 700;
        font-size: $fontSizeMedium;
        width: 200px;
        height: 50px;
        margin-top: 30px;
    }
}
